.comment {
    display: flex;
    padding: 20px 40px;
}

.commentImgWrapper {
    max-width: 50px;
    min-width: 50px;
    margin-right: 20px;
}

.commentImg {
    width: 100%;
}

.commentTextWrapper {
   width: 100%;
   word-break: break-all;
}

.commentUsername {
    color: rgb(128, 128, 128);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.commentText {
    color: #fff;
    font-size: 23px;
    text-align: left;
}

@media screen and (max-width: 450px) {
    .comment {
        padding: 10px 20px;
    }
}
