.MainContent {
    width: 85%;
    background-color: #000;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(4, 350px);
    gap: 25px;
    display: grid;
    padding: 15px;
    justify-content: center;
    min-height: 500px;
    position: relative;
}

.loader {
    width: 50px;
    height: 50px;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.notFoundText {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
}
