.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgb(56, 233, 56);
}

.modalSpan {
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 233, 56);
    margin-bottom: 20px;
}

.modalInput {
    border: 2px solid rgb(209, 209, 0);
    height: 30px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.modalCross {
    position: absolute;
    top: -20%;
    right: -15%;
    width: 30px;
    cursor: pointer;
}

.modalButton {
    font-size: 24px;
    font-weight: bold;
    color: rgb(56, 233, 233);
    background-color: transparent;
    border: none;
    margin: 10px 0 5px;
    cursor: pointer;
    transition: all .2s linear;
}

.modalButton:hover {
    color: rgb(33, 146, 146);
}