.headerUl {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    min-height: 40px;
}

.headerLogo {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Brush Script MT, Helvetica, sans-serif;
    color: rgb(255, 255, 53);
}

.userName {
    color: rgb(255, 255, 249);
    font-size: 24px;
    width: 200px;
    letter-spacing: 1px;
}

.headerUser {
    width: 30px;
    border-radius: 10%;
    cursor: pointer;
    transition: all .2s linear;
}

.headerUser:hover {
    background-color: rgb(252, 255, 66);
}
