.filterBarWrapper {
    display: flex;
    flex-direction: column;
}

.filterBarItem {
    text-align: right;
    color: #fff;
    align-self: flex-end;
    font-size: 25px;
    margin: 0 10px 8px 0;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all .1s linear;
}

.filterBarItem:hover {
    color: rgb(155, 155, 155);
    border-bottom: 1px solid #fff;
}

.selectedFilterBarItem {
    text-align: right;
    color: rgb(155, 155, 155);
    align-self: flex-end;
    font-size: 25px;
    margin: 0 10px 8px 0;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    transition: all .1s linear;
}
