.mainNav {
    width: 15%;
    background-color: #000;
    
}

.mainNavInner {
    position: sticky;
}

.searchBar {
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px 15px 0 5px;
    margin-bottom: 20px;
}

.searchBarInput {
    width: 100%;
    height: 38px;
    border: 3px solid rgb(0, 238, 255);
    background-color: rgb(43, 43, 43);
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 1px;
    transition: all .1s linear;
    letter-spacing: 1px;
}

.searchBarInput::placeholder {
    color: #fff;
    letter-spacing: 1px;
}

.searchBarInput:focus {
    border: 3px solid rgb(65, 255, 65);
}

.searchWrapper {
    position: absolute;
    top: 8px;
    right: 18px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    transition: all .2s linear;
    cursor: pointer;
}

.searchWrapper:hover {
    background-color: rgb(255, 255, 59);
}

.search {
    height: 100%;
}

.textFilter {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.typeFilterBlock {
    margin-bottom: 20px;
}

.typeFilter {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(128, 128, 128);
    letter-spacing: 1px;
}
