.mainNav {
    width: 15%;
    background-color: #000;
    
}

.mainNavInner {
    position: sticky;
}

.searchBar {
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px 0 0 5px;
    margin-bottom: 20px;
}

.searchBarInput {
    width: 100%;
    height: 38px;
    border: 3px solid rgb(0, 238, 255);
    background-color: rgb(43, 43, 43);
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 1px;
    transition: all .1s linear;
    letter-spacing: 1px;
}

.searchBarInput::placeholder {
    color: #fff;
    letter-spacing: 1px;
}

.searchBarInput:focus {
    border: 3px solid rgb(65, 255, 65);
}

.searchWrapper {
    position: absolute;
    top: 8px;
    right: 3px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    transition: all .2s linear;
    cursor: pointer;
}

.searchWrapper:hover {
    background-color: rgb(255, 255, 59);
}

.search {
    height: 100%;
}

.textFilter {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.typeFilterBlock {
    margin-bottom: 20px;
}

.filterTypesWrapper {
    overflow: hidden;
}

.filterTypes {
    transition: all .2s ease-in-out;
}

.typeFilter {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(128, 128, 128);
    letter-spacing: 1px;
}

.filterInput {
    display: none;
}

@media screen and (max-width: 1000px) {
    .mainNav {
        width: auto;
    }

    .searchBar {
        width: 300px;
    }

    .typeFilterBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .typeFilter {
        width: 100%;
        margin-bottom: 15px;
    }

    .textFilter {
        cursor: pointer;
        transition: all .1s linear;
        z-index: 1;
    }

    .textFilter:hover {
        color: #000;
        background-color: rgb(128, 128, 128);
    }

    .filterTypes {
        height: 540px;
        margin-top: -540px;
    }

    .filterInput:checked + div > div {
        height: auto;
        margin: 0;
    }
}
