.container {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.window {
    height: 450px;
    width: 70%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .2s linear;
    
}

.window:hover {
    border: 1px solid rgb(0, 255, 255);
}

.contentCard {
    height: 100%;
    display: flex;
    transition: transform .4s ease-in-out;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    border-radius: 20%;
    margin: 10px;
    transition: all .2s linear;
    color: #fff;
}

.arrow:hover {
    background-color: #fff;
    color: #000;
}